body {
	font-family: 'Nanum Gothic', sans-serif;
	color: #282828;
	font-size: 125%;
}

canvas {
	background-image: url("./floor_plan.jpg");
	border:1px solid #d3d3d3;
	background-color: #f1f1f1;
}

#container {
	display: flex;
}

